<%- include("./partials/header") %> 
<div id="" class="ui main text container segment">
    <div class="ui huge header">New Thot</div>
    <form class="ui form " action="/thots" autocomplete="off" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="thot[title]" required placeholder="title">
        </div>
        <div  class="field">
            <label>Image</label>
            <input type="text" name="thot[image]"  required placeholder="image URL">
        </div>
        <div class="field">
            <label>Your Thots Ybout This</label>
            <textarea name="thot[body]" required placeholder="body"></textarea>
        </div>
        <input id="submit" class="ui basic standard button" type="submit">
    </form>
</div>
<%- include("./partials/footer") %> 